   #option_div1{
     background-color:#CCD1D1        ;

     margin: auto;
     border: 2px solid #CCD1D1        ;
     padding: 7px;
     border-radius: 2px;
   }
   .coption_tbid{

    padding: 7px;
    border-radius: 2px;
  }
  #option_btadd{
    margin-left:   26px;
    margin-bottom:  5px;
    padding: 4px 47px;
  }
  #option_hind{
    text-align: right;
  }
  #option_hind button{
    margin-right:   16px;
  }
  .option_cl2{
    background-color: #FFFFFF;
    border: 2px solid;
    border-radius: 2px ;
    padding: 7px;
  }
  .option_table th{
    background-color:#CCD1D1        ;
  }
  .option_table {
    border-collapse: collapse;
  }
  .option_table td,  .table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
